# -*- coding: utf-8 -*-

JUWENTUS_LOGIN = ''
JUWENTUS_PASS = ''
JUWENTUS_OBJECT_ID = ''

# zones definition id -> name
ZONES = {
    1 : 'name',
# ...
}



SMSAPI_LOGIN = ''
SMSAPI_PASS = ''
SMSAPI_PRO_FROM = 'Info' # registered from name for "Pro" messages
SMSAPI_PRO = False # to use Pro or not?

PHONE_NUMBERS = ('',) # tuple of strings
